.card {
    /*Sizing*/
    width: 100%;
    height: 250px;
    /*Decoration*/
    @include light-background;
    @include border-radius-20;
    overflow: hidden;
    /*Decoration*/
    @include box-shadow;

    /*MediaQueries*/
    @include desktop {
        /*Decoration*/
        background: linear-gradient(to left, $tertiary-color 0%, $secondary-color 100%);
    }

    &-click {
        /*Sizing*/
        width: 100%;
    }

    &__image {
        /*Sizing*/
        height: 70%;

        &__new {
            /*Sizing*/
            width: 20%;
            /*Position*/
            position: relative;
            bottom: 90%;
            left: 70%;
            z-index: 1;
            /*Font*/
            @include roboto-bold;
            font-size: 15px;
            text-align: center;
            color: $text-new-button;
            /*Layout*/
            padding: 5px;
            /*Decoration*/
            background-color: $tertiary-color;
        }
    }

    &__information {
        /*Sizing*/
        height: 30%;
        /*Flexbox*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*Layout*/
        margin: 0px 20px;

        /*MediaQueries*/
        @include desktop {
            /*Font*/
            @include white-text;
        }

        &__description {
            /*Flexbox*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 5px;

            &__name {
                /*Font*/
                @include roboto-bold;
            }

            &__city {
                /*Decoration*/
                @include grey-text;
            }
        }

        &__heart {
            /*Position*/
            position: relative;
            bottom: 15px;
            right: 40px;
            z-index: 3;
            /*Font*/
            font-size: 25px;
            font-weight: 100;

            &:hover .menu__title__icon-full {
                /*Transition*/
                @include heart;
            }
        }
    }

    &:hover {
        /*Decoration*/
        @include box-shadow-hover;

        /*MediaQueries*/
        @include desktop {
            /*Transition*/
            transform: translateY(-10px);
            background: linear-gradient(to left, $secondary-color 0%, $tertiary-color 100%);
            transition: all 0.5s;
        }
    }
}