/*VARIABLE*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
/*LIGHT COLOR*/
$primary-color-light: #996ad1;
$secondary-color-light: #fe8fdf;
/*BACKGROUND*/
$light-background: white;
$grey-background: #f7f7f7;
$dark-background: #eaeaea;
$darker-background: #cecece;
$footer-background: #343435;
/*DECORATION*/
$text-color: #6d6d6c;
$hover-color: #f4ecff;
$box-shadow: #c1c0c0;
$dark-box-shadow: #a4a3a3;
$text-new-button: #0e9171;